<?xml version="1.0"?>

<launch>
    <arg name="robot_ip" default="$(env ROBOT_IP)" />
    <arg name="robot_port" default="$(env ROBOT_PORT)" />
    <arg name="robot_username" default="nao" />
    <arg name="robot_password" default="$(env ROBOT_PASSWORD)" />
    <arg name="network_interface" default="$(env NETWORK_INTERFACE)" />

    <include file="$(find pepper_dcm_bringup)/launch/pepper_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="network_interface" value="$(arg network_interface)" />
    </include>

  
    <node pkg="pepper_audio" type="pepper_play_file.py" name="pepper_play_file" args="_robot_ip:=$(arg robot_ip) _robot_port:=$(arg robot_port) _robot_password:=$(arg robot_password) _robot_username:=$(arg robot_username)"/>
    <node pkg="pepper_speech" type="text_to_speech_node.py" name="pepper_speech" args="_robot_ip:=$(arg robot_ip) _robot_port:=$(arg robot_port)"  />
</launch>

